@import "./sass/config";

body {
  background-color: $neutral-off-white;
  padding: 0 10rem;
}

.App {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-around;
}

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.nav-container li {
  display: inline-block;
  margin: 0 1.5rem;
  cursor: pointer;
  font-size: $paragraph-font-size;
  font-family: $main-font;
  font-weight: $light-weight;
  color: $neutral-dark-grayish-blue;

  &:hover {
    color: $primary-red;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  // width: 90%;
  padding: 0 1rem;
  // border: 1px solid red;
  &-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-image {
      width: 45vw;

    }
    &-image-mobile {
        display: none;
    }
    &-title {
      font-size: 2.5rem;
      font-weight: $extra-bold-weight;
      font-family: $main-font;
      color: $neutral-very-dark-blue;
      width: 35%;
      margin: 5px 0;
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 45vw;
    }

    &-preview {
      font-size: $paragraph-font-size;
      font-family: $main-font;
      font-weight: $light-weight;
      color: $neutral-dark-grayish-blue;
      display: flex;
      flex-direction: column;
      width: 50%;
      p {
        line-height: 1.5;
        text-align: justify;
      }
    }
  }
  &-articles-list {
    display: block;
    overflow: auto;
    flex-direction: column;
    // height: 100%;
    // border: 1px solid red;
    background: $neutral-very-dark-blue;
    width: 30%;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;

    .news-header {
      color: $primary-orange;
      font-size: 1.8rem;
      font-family: $main-font;
      font-weight: $bold-weight;
      margin: 0 0 1rem 0;
    }
    .side-article {
      &-title {
        color: $neutral-off-white;
        font-size: 1.2rem;
        font-weight: $bold-weight;
        font-family: $main-font;
        margin: 1.2rem 0;
        cursor: pointer;
        &:hover {
          color: $primary-orange;
        }
      }
      &-clickbait {
        color: $neutral-grayish-blue;
        font-size: $paragraph-font-size;
        font-weight: $light-weight;
        font-family: $main-font;
        margin: 1.2rem 0;
      }
    }
  }
}

.read-more-btn {
  all: unset;
  width: 40%;
  padding: 0.7rem;
  background-color: $primary-red;
  text-align: center;
  color: $neutral-off-white;
  letter-spacing: 0.2em;
  cursor: pointer;
  &:hover {
    background-color: $neutral-very-dark-blue;
  }
}

.secondary-articles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // width: 90%;
  // padding: 0 2rem;
  margin: 2rem 2rem 2rem 1.5rem;

  h2 {
    color: $neutral-grayish-blue;
    font-size: 2.5rem;
    font-weight: $bold-weight;
    font-family: $main-font;
  }

  h3 {
    font-weight: $bold-weight;
    font-family: $main-font;
    margin-left:  1rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: $neutral-dark-grayish-blue;
  }

  h2,
  
  p {
    margin: 0 1rem 1rem 1rem;
  }
  &-title {
    cursor: pointer;
    &:hover {
      color: $primary-red;
    }
  }

  &-image {
    width: 150px;
    height: 150px;
  }
  .article-container {
    display: flex;
    flex-direction: row;
    width: 33%;
  }
}

@media(min-width: 360px) and (max-width: 1024px){
    body {
        margin: 0;
        padding: 0;
    }

    .App {
        padding: 0 2rem;
    }

    .main{
        flex-direction: column;
        &-articles-list {
            width: 100%;
            margin:0 2rem 0 0;
        }
        &-article {
            margin-bottom: 2rem;
            &-title {
                width: 100%;
                // text-align: center;
            }
            &-preview {
                width: 100%;
            }
            &-image {
                display: none
                // width: 100%;
                // height: 100%;
             
            }
            &-image-mobile {
                display: block;
                width: 100%;
                height: 100%;
            }
            &-content {
                flex-direction: column;
                width: 100%;
            }
        }
    }

    .desktop-nav {
        padding: 1rem 0.5rem;
    }

    .nav-container {
        display: none;
    }

    .secondary-articles {
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        
        .article-container {
            width: 100%;
            margin-bottom: 1rem;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}